<html>
	<head> </head>
	<body>
        <div>
            <h3> Hey, <%=user.name%>! Welcome to ToDo</h3>
            <div>
                All List
                <%for(var i=0; i<user.lists.length; i++){%>
                    <h5><%=user.lists[i].name%>  <%=user.lists[i].isCurrent%></h5>
                <%}%>
            </div>
            <div>
                All Task
                <%for(var i=0; i<user.tasks.length; i++){%>
					<h5> <%=user.tasks[i].name%>  <%=user.tasks[i].id%> <%=user.tasks[i].name%> <%=user.tasks[i].completed%> <%=user.tasks[i].important%>
						<%=user.tasks[i].notes%> <%=user.tasks[i].dueDate%> </h5>
                <%}%>
            </div>
        </div>
		<div>
			Addlist
			<form name="Addlist" action="/update/addList" method="post">
				<input name="newListName" id="newListName">
				<input type="submit" value="addList">
			</form>
			AddTask
			<form name="AddTask" action="/update/addTask" method="post">
				<input name="listId" id="listId">
				<input name="newTaskName" id="newTaskName">
				<input type="submit" value="AddTask">
			</form>
			Add subtask
			<form name="AddSubtask" action="/update/addSubtask" method="post">
				<input name="listId" id="listId">
				<input name="taskId" id="taskId">
				<input name="subtaskName">
				<input type="submit" value="Add subtask">
			</form>
		</div>
	</body>
</html>
